# For Loops

In [21]:
# Loop through the word banana

for l in "banana":
    print(l)

b
a
n
a
n
a

In [4]:
# add a break

for x in "banana":
    print(x)
    if x == "n":
        break

b
a
n

In [5]:
# code to exit on the second appearance of the letter

letters = []

for x in "banana":
    print(x)
    letters.append(x)
    if x == "n" and letters.count(x) == 2:
        break

b
a
n
a
n

In [5]:
# for loop through the range function
for x in range(6):
	print(x)

0
1
2
3
4
5

In [22]:
range(6)

range(0, 6)

In [6]:
# for loop in the range function with a start parameter
for x in range(2, 6):
	print(x)

2
3
4
5

In [8]:
# for loop in the range function with a start parameter and increment
for x in range(2, 30, 3):
	print(x)

2
5
8
11
14
17
20
23
26
29

In [23]:
# else in for loop statement

for num in range(6):
    print(num)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [24]:
# code that exists the for loop when reaches a condition 

for x in range(6):
    if x == 3: 
        break
    print(x)
else:
    print("Finally finished!")

0
1
2

In [25]:
# code that skips over numbers speciffied in a list

for number in range(12):
    if number in [3, 6, 7]:
        continue
    print(number)
else:
    print("Finally Finished")

0
1
2
4
5
8
9
10
11
Finally Finished

In [26]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)

apple
banana
cherry

In [34]:
for x in [0, 1, 2]:
      pass

In [37]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for a in adj:
    print("\n")
    print(a)
    print("------")
  
    for f in fruits:
        print(a, f)

red
------
red apple
red banana
red cherry


big
------
big apple
big banana
big cherry


tasty
------
tasty apple
tasty banana
tasty cherry

In [38]:
my_list = [1, 2, 3, 4, 5]

for n in my_list:
    print(n * 10)

10
20
30
40
50

## Sets

In [43]:
set_example = {"e1", "e2", "e1"}
type(set_example)

set

In [44]:
set_example

{'e1', 'e2'}

In [46]:
# hmm, can't do arithemetic operations with sets

set_1 = {1, 2, 3}
set_2 = {4, 5, 6}

set_1 + set_2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [41]:
list_example = ["e1", "e2", "e1"]
type(list_example)

list

In [48]:
set(list_example)

set

In [49]:
list(set_example)

['e1', 'e2']

In [45]:
list_example[0]

'e1'

In [42]:
list_example

['e1', 'e2', 'e1']

In [50]:
# creating a set

thisset = {"apple", "apple", "banana", "cherry"}
thisset

{'apple', 'banana', 'cherry'}

In [8]:
type(thisset)

set

In [51]:
for item in thisset:
    print(item)

apple
banana
cherry

In [54]:
# Check if "banana" is present in the set:
print("mango" in thisset)

False

In [55]:
# joining two sets

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)
print(len(set3))

{1, 2, 3, 'c', 'b', 'a'}
6

In [56]:
# the common elements in both sets

fruit = {"apple", "banana", "cherry"}
companies = {"google", "microsoft", "apple"}

interesction = companies.intersection(fruits)
interesction

{'apple'}

In [58]:
# the differences in both sets

fruit = {"apple", "banana", "cherry"}
companies = {"google", "microsoft", "apple"}

differences = companies.symmetric_difference(fruits)
differences

{'banana', 'cherry', 'google', 'microsoft'}