In [1]:
# import libraries 

import sqlite3
import pandas as pd

In [2]:
# create a sqlite database using the following code
# replace the XXX with a database name

cnx = sqlite3.connect('../data/XXX.db')
cnx

In [3]:
# load the data files you want to store in your database

test = pd.read_csv('test.csv')
test

     name     hobby
0     bob     paint
1   julia      code
2  hannah   netflix

In [4]:
# write the data to sql database
# be careful about the if_exists , read documentation 
# here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html

test.to_sql(name='my_sample_table', con=cnx, index=False, if_exists='replace')

/Users/shaq/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [5]:
# check everything works - identify tables in database

cursor = cnx.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('my_sample_table',)]

In [6]:
# check everything works and read table from your database

query = """select *
           from my_sample_table"""

pd.read_sql(query, cnx)

     name     hobby
0     bob     paint
1   julia      code
2  hannah   netflix

In [7]:
# TO DO: How to store information in a dictionary and then write to your database